<html>
    <head>
        {% if title %}
        <title>{{ title }} - NYCDSA - Team Panda Capstone</title>
        {% else %}
        <title>Here is the default title! Missing Title!</title>
        {% endif %}
    </head>
    <body>
        <div>
            Website: 
            <a href="/index">Home</a>
            <a href="/search">Search</a>
        </div>
        <hr>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>