{% extends "base.html" %}

{% block content %}
    <h1>Search</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.originCity.label }}<br>
            {{ form.originCity(size=32) }}
        </p>
        <p>
            {{ form.destiCity.label }}<br>
            {{ form.destiCity(size=32) }}
        </p>
        <p>
            {{ form.startDate.label }}<br>
            {{ form.startDate(size=32) }}
        </p>
        <p>
            {{ form.endDate.label }}<br>
            {{ form.endDate(size=32) }}
        </p>

        <p>{{ form.felxibleDates() }} {{ form.felxibleDates.label }}</p>
        <p>{{ form.search() }}</p>
    </form>
{% endblock %}